
@media only screen and (max-width:1000px){
    .navbar{
        background-size: cover;
        
    }
    
    }
    @media only screen and (max-width:1000px){
        
.banner-section{
    background-size: contain;

}
    }
    @media only screen and (max-width:1000px){
        .btn{
            padding: 10px 99px;
            background-color: rgb(118, 0, 94);
            color: #fff;
            border-radius: 30px;
            text-align: center;
            border: #fff solid 3px;
    align-items: center;
            margin-top: 12px;
            margin-bottom: 5px;
        }
        
.buttoncc a{
    padding: 10px 99px;
            background-color: rgb(118, 0, 94);
            color: #fff;
            border-radius: 30px;
            text-align: center;
            border: #fff solid 3px;
    align-items: center;
            margin-top: 12px;
            margin-bottom: 5px;
            text-decoration: none;
}
    }
    

    @media only screen and (max-width:1000px){
.banner-section{
    /* top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%; */
    margin-top: 50px;
}
.banner-content p{
    color: rgb(16, 26, 26);
    font-family: sans-serif;
    font-size: small;
    width: 180px;
}

.banner-content h3{
    background-color: rgb(16, 26, 26);
    width: fit-content;
    font-size: 14px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.about-page{
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 90vh;
    margin-bottom: 50px;
}
.text{
    max-width: 28rem;
    /* margin: 1rem; */
    padding-top: 80px;
    
}
.text h1{
    margin-bottom: 30px;
    
}
.text h5{
    margin-bottom: 30px;
}
.text p{
    
    width: 199px;
        margin-bottom: 30px;
        font-size: 13px;
    }
    .parent img{
        width: 200px;
        height: 100px;
        margin-left: 10px;
    }
    .texttt h3{
        font-size: 10px;
    }
    .texttt p{
        font-size: 10px;
    }
}
@media only screen and (max-width:320px){
    .parent img{
        width: 160px;
        height: 70px;
        margin-left: 5px;
    }
    .texttt h3{
        font-size: 8px;
    }
    .texttt p{
        font-size: 7px;
    }
}
/* new part */
@media  screen and (max-width:1200px){
    .home{
height: 90vh;
    }
}
@media  screen and (max-width:799px){
    .home{
height: 140vh;
    }
}
@media  screen and (max-width:550px){
    .home{
height: 110vh;
    }
}
@media  screen and (max-width:420px){
    .content h1{
        font-size: 45px;
    }
}
@media  screen and (max-width:320px){
    .content h1{
        font-size: 36px;
    }
}
@media only screen and (max-width:340px){
    .navbar{
        height: 50px;
        width: 100%;
        
    }
    .navbar-toggler i{
        margin-top: -25px;
        margin-left: -160px;
    }
    .navbar-brand img{
        margin-top: -109px;
        width: 93px;
        margin-left: 128px;
    }
    .banner-section{
        margin-top: 2px;
        margin-bottom: 20px;
    }
    .col-lg-3{
        margin: 10px;
    }
    .new-para{
        overflow: hidden;
    }
    .homee{
        background-size: contain;

    }
    .content h1{
        font-size: 10px;
        
    }
    }
